<footer>
    <div class="footer-content">
        <span></span>
        <div class="footer-icons">
            <a href="https://www.instagram.com/etfarquitectura/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://linkedin.com/in/tu_usuario" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="/script.js"></script>
</body>
</html>