<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <title><%= pageTitle || "ETFarquitectura" %></title>
</head>
<body>
    <header>
        <div class="header-content">
            <a href="/" class="logo">
                <span><%= pageTitle || "ETFarquitectura" %></span>
            </a>
            <nav class="nav-links">
                <% if (page === 'home') { %>
                    <a href="#info" class="nav-normal">Quienes somos</a>
                    <a href="#contact" class="nav-normal">Contacto</a>
                <% } else { %>
                    <a href="/" class="nav-close"><i class="fas fa-xmark"></i></a>
                <% } %>
            </nav>
        </div>
    </header>